@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Testing Model DataFlow</title>
    
    <h3>@ViewBag.Login</h3>

    <h4>User Info</h4>
    <h3>First Name: @ViewBag.FirstName</h3>
    <h3>Last Name : @ViewBag.LastName</h3>
    <h3>Location  : @ViewBag.Location</h3>
    
    


</head>
<body>
</body>
</html>

