@model MG_5_FreelanceJobsite.Models.PaymentPageModel
@{
    ViewBag.Title = "PaymentConfirmation";
}
<style>
    #frame {
        padding: 30px;
    }
</style>
<div id="frame">
    <h2>Payment Has Been Made</h2>

</div>